.gitignore
.dockerignore
.compodocrc
.github/
.git/
node_modules/
docs/
documentation/
dist/
.env
.env.*
.eslintrc.js
.npmrc
secrets/
*pem
*.md
README*.md
coverage/
.docker-slim-state/
logs/
tmp/
docker-compose.yaml
Dockerfile
LICENSE
test/