# Directories
node_modules/
dist/
build/
coverage/
logs/
temp/
temp-*
tmp/
*.tmp/
*.log/
*.bak/
*.cache/
*.swp/
*.out/

# Files
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
Thumbs.db
.cache
*.iml
*.log
*.orig
*.swp
*.bak
*.tmp
*.mdc
*.pid